extends layout

block content
        div(class="head")
            
            div(class="jumbotron")
            div(class="bs-example" data-example-id="inverted-navbar")
                nav(class="navbar navbar-inverse")
                    div(class="navbar-header")
                        btn(class="navbar-toggle collapsed" aria-expanded="false" data-target="#bs-example-navbar-collapse-9" data-toggle="collapse" type="button")
                        a(class="navbar-brand" href="/")="Home"
                        btn(class="navbar-toggle collapsed" aria-expanded="false" data-target="#bs-example-navbar-collapse-9" data-toggle="collapse" type="button")
                        a(class="navbar-brand" href="/visual")="Visual Representation"
                        btn(class="navbar-toggle collapsed" aria-expanded="false" data-target="#bs-example-navbar-collapse-9" data-toggle="collapse" type="button")
                        a(class="navbar-brand" href="/about")="About"

      
            br
            br
            h1= title
            br
            img(src="images/Visual pic.png" width="100%" style="clear:both;margin-right:10%;" align="centre")