@media screen and (min-width: 580px) {
	body {background-color: black
		color: white;}
}

body {font-family: Courier New, Courier New, monospace; 
color: black;
background: url(../images/world.jpg);}

h1, h2 {font-weight: bold;
color: solid black;
text-align: center;
font-family: Courier New, Courier New, monospace;
}

table, th, td {
border: 2px solid black;}

table {width: 100%;
}

th {text-align: center;
background-color: #4CAF50;
color: black;}

th, td{
	padding: 15px;
	text-align: center;
	border-bottom: 2px solid black;
	font-family: Courier New, Courier New, monospace;
}

tr:hover{background-color:#f5f5f5;
}

a:hover{color: black;
}

li{list-style-type: square;

font-family: Courier New, Courier New, monospace;
}

.mytext {width: 300px;
height:50px;
}


